body {
    margin: 0;
}
.main {
    font-family: 'Crimson Text', serif;
}
.background-wrap {
    background-size: 100% 100%;
    width: 100%;
    position: fixed;
    top: -140vh;
}
.first-page {
    cursor: url(img/Cursor.png) 32 32,default;
    background-image: url(img/website-landing.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: 2879px;
}
.contacts-page-wrap {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;
    top: -50vh;
}
.contacts-page-wrap a {
    color: #ffffff;
}
.clampart {
    position: absolute;
    top: 4vh;
    left: 30%;
}
.iscp {
    position: absolute;
    top: 19vh;
    right: 30%
}
.svetlana-bailey {
    position: absolute;
    top: 49vh;
    left: 20%
}
.mail {
    position: absolute;
    top: 65vh;
    right: 5%;
}
.portfolio {
    position: absolute;
    top: 90vh;
    left: 40%;
}
.resume {
    position: absolute;
    top: 100vh;
    right: 40%;    
}
.gallery-block {
    position: absolute;
    top: 110vh;
    left: 3%;
}
.gallery-block p {
    margin-top: 0;
    margin-bottom: 0;
}
.adress {
    position: absolute;
    top: 145vh;
    right: 20%;
}
.adress p {
    margin-top: 0;
    margin-bottom: 0;
}
.blue-sky {
    position: absolute;
    top: 179vh;
    left: 20%;
}
.rights-reserved {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
}
.rights-reserved span {
    margin-left: 50px;
}

/************************* Responsive *************************/
@media screen and (min-device-width: 1920px) {
    .first-page {
        top: -142vh;
        left: 0;
        transform: scale(1);
    }
}

@media screen and (max-device-width: 1600px) {
    .first-page {
        top: -156vh;
        left: -14vh;
        transform: scale(0.9);
    }
}

@media screen and (max-device-width: 1366px) {
    .first-page {
        top: -183vh;
        left: -32vh;
        transform: scale(0.75);
    }
}
@media (max-width: 1280px) {    
    .first-page {
        top: -136vh;
        left: -16vh;
        transform: scale(0.9);
    }
}

@media (max-width: 1024px) {
    .first-page {
        top: -183vh;
        left: -42vh;
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    .first-page {
        top: -136vh;
        left: -46vh;
        transform: scale(0.7);
    }
    .main {
        position: relative;
    }
    .background-wrap {
        position: absolute;
    }
}

@media (max-width: 640px) {
    .first-page {
        top: -240vh;
        left: -162vh;
        transform: scale(0.4);
    }
    .contacts-page-wrap {
        top: 0;
    }
}

@media (max-width: 360px) {
    .first-page {
        top: -135vh;
        left: -112vh;
        transform: scale(0.4);
    }
    .contacts-page-wrap {
        top: 0;
    }
    .clampart {
        top: 2vh;
        left: 10%;
    }
    .iscp {
        right: 22%
    }
    .svetlana-bailey {
        left: 8%
    }
    .rights-reserved span {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio {
        left: 30%;
    }
    .resume {
        right: 30%;    
    }
    .adress {
        right: 5%;
    }
    .blue-sky {
        left: 10%;
    }
}