body {
    margin: 0;
}
.main {
    font-family: 'Crimson Text', serif;
}
.background-wrap {
    background-size: 100% 100%;
    width: 100%;
    position: fixed;
    top: -140vh;
}
.first-page {
    cursor: url(img/Cursor.png) 32 32,default;
    background-image: url(img/website-landing.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: 2879px;
}
.contacts-page-wrap {
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5em;
    top: -50vh;
}
.contacts-page-wrap a {
    color: #ffffff;
}
.clampart {
    position: absolute;
    top: 4vh;
    left: 30%;
}
.iscp {
    position: absolute;
    top: 19vh;
    right: 30%
}
.svetlana-bailey {
    position: absolute;
    top: 48.5vh;
    left: 20%
}
.mail {
    position: absolute;
    top: 65vh;
    right: 5%;
}
.portfolio {
    position: absolute;
    top: 90vh;
    left: 40%;
}
.resume {
    position: absolute;
    top: 100vh;
    right: 40%;    
}
.gallery-block {
    position: absolute;
    top: 110vh;
    left: 3%;
}
.gallery-block p {
    margin-top: 0;
    margin-bottom: 0;
}
.adress {
    position: absolute;
    top: 145vh;
    right: 20%;
}
.adress p {
    margin-top: 0;
    margin-bottom: 0;
}
.blue-sky {
    position: absolute;
    top: 179vh;
    left: 20%;
}
.rights-reserved {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
}
.rights-reserved span {
    margin-left: 50px;
}

/************************* Responsive *************************/
@media screen and (min-device-width: 1920px) {
    .first-page {
        top: -142vh;
        left: 0;
        transform: scale(1);
    }
}

@media screen and (max-device-width: 1600px) {
    .first-page {
        top: -156vh;
        left: -14vh;
        transform: scale(0.9);
    }
}

@media screen and (max-device-width: 1366px) {
    .first-page {
        top: -183vh;
        left: -32vh;
        transform: scale(0.75);
    }
}
@media screen and (max-device-width: 1280px ) and (max-device-height: 1024px ) {
    .first-page {
        top: -136vh;
        left: -16vh;
        transform: scale(0.9);
    }
}
@media screen and (max-device-width: 1280px ) and (max-device-height: 800px ) {
    .first-page {
        top: -183vh;
        left: -32vh;
        transform: scale(0.75);
    }
}
@media screen and (max-device-width: 1280px ) and (max-device-height: 720px ) {
    .first-page {
        top: -196vh;
        left: -32vh;
        transform: scale(0.75);
    }
}
/* @media (max-width: 1280px) {    
    .first-page {
        top: -136vh;
        left: -16vh;
        transform: scale(0.9);
    }
} */

@media (max-width: 1024px) {
    .first-page {
        top: -183vh;
        left: -42vh;
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    body {
        background-color: #1f1d1d;
    }
    .main {
        position: relative;
    }
    .background-wrap {
        position: absolute;
    }
    .first-page {
        top: -43vh;
        left: -46vh;
        transform: scale(0.7);
    }
    .contacts-page-wrap {
        top: 0;
    }
    .svetlana-bailey {
        top: 48.4vh;
    }
}

@media screen and (max-device-width: 720px ) {
    .first-page {
        top: -260vh;
        left: -174vh;
        -moz-transform: scale(0.38); /* Для Firefox */
        -ms-transform: scale(0.38); /* Для IE */
        -webkit-transform: scale(0.38); /* Для Safari, Chrome, iOS */
        -o-transform: scale(0.38); 
        transform: scale(0.38);
    }
    .svetlana-bailey {
        top: 45vh;
    }
    .portfolio {
        left: 37%;
    }
    .resume {
        right: 37%;    
    }
    .adress {
        top: 135vh;
        right: 5%;
    }
    .contacts-page-wrap {
        font-size: 0.9em;
    }
}

@media (max-width: 640px) {
    .first-page {
        top: -280vh;
        left: -182vh;
        -moz-transform: scale(0.38); /* Для Firefox */
        -ms-transform: scale(0.38); /* Для IE */
        -webkit-transform: scale(0.38); /* Для Safari, Chrome, iOS */
        -o-transform: scale(0.38);
        transform: scale(0.38);
    }
    .contacts-page-wrap {
        top: 0;
        font-size: 0.9em;
    }
    .svetlana-bailey {
        top: 43.2vh;
    }
    .portfolio {
        left: 30%;
        top: 87vh;
    }
    .resume {
        right: 30%;    
    }
}

@media (max-width: 414px) {
    .first-page {
        top: -118vh;
        left: -95vh;
        transform: scale(0.4);
    }
    .svetlana-bailey {
        top: 41.2vh;
    }
}

@media screen and (max-device-width: 360px ) and (max-device-height: 720px ) {
    .first-page {
        top: -150vh;
        left: -104vh;
        transform: scale(0.25);
    }
    .svetlana-bailey {
        top: 42vh;
    }
}

@media screen and (max-device-width: 360px ) and (max-device-height: 640px ) {
    .first-page {
        top: -179vh;
        left: -122vh;
        -moz-transform: scale(0.24); /* Для Firefox */
        -ms-transform: scale(0.24); /* Для IE */
        -webkit-transform: scale(0.24); /* Для Safari, Chrome, iOS */
        -o-transform: scale(0.24);
        transform: scale(0.24);
    }
    .contacts-page-wrap {
        top: 0;
    }
    .clampart {
        top: 2vh;
        left: 10%;
    }
    .iscp {
        right: 22%
    }
    .svetlana-bailey {
        left: 8%;
        top: 49vh;
    }
    .rights-reserved span {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .portfolio {
        left: 30%;
    }
    .resume {
        right: 30%;    
    }
    .adress {
        right: 5%;
    }
    .blue-sky {
        left: 10%;
    }
}